APP_NAME=jiezhang-backend
PORT=10240
GIN_MODE=debug
MYSQL_DSN=root:password@tcp(127.0.0.1:3306)/jiezhang?charset=utf8mb4&parseTime=True&loc=Local
MINIPROGRAM_APPID=小程序appid
MINIPROGRAM_SECRET=小程序的appsecret